* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

nav {
  height: 60px;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  justify-content: space-between;
}

nav header .logo {
  font-size: 1.5rem; /* 1rem = 16px */
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

nav header .menu a {
  text-decoration: none;
  padding: 12px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  margin: 4px;
  border-radius: 5px;
}

nav .menu a:hover,
nav .menu a:active {
  background-color: #fff;
  border: 1px solid #fff;
  color: #222;
  transition: all 0.4s;
}

section {
  height: 100vh;
  padding-top: 70px;
}

#home,
#resume,
#contact {
  background-color: #fff;
}

#about,
#portfolio {
  background-color: #ddd;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#home h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
}

#home h1 span {
  color: #6a5acd;
}

#home h3 {
  font-size: 2.5rem;
  color: #999;
}

#about,
#resume,
#portfolio,
#contact {
  display: flex;
  align-items: start;
  justify-content: center;
}

section .title {
  font-size: 3rem;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
}
